<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "img/favicon.png"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "dist/main.min.css"}}" />
    {{ghost_head}}
  </head>
  <body>
    {{{body}}}
    {{ghost_foot}}
    <script src="{{asset "dist/all.min.js"}}"></script>
  </body>
</html>
